<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <link rel="icon" type="image/png" href="/server/assets/img/logo.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <meta name="description" th:content="${category.description}">
  <meta name="keywords" th:content="${category.meta}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/server/assets/styles/style.css}">


  <link rel="stylesheet" th:href="@{/server/assets/styles/reset.min.css}" />
  <link rel="stylesheet" th:href="@{/server/assets/styles/nav.css}" />
  <link rel="stylesheet" th:href="@{/server/assets/styles/header.css}" />
  <title th:text="${category.title}">category</title>
  <script type="text/javascript"  async defer src="https://maps.googleapis.com/maps/api/js?loading=async"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>


    *{
    cursor: auto;
    }
  </style>
</head>

<body >



  <div th:replace="dashboard.html :: siteSearch"></div>
  <div th:replace="dashboard.html :: siteHeader"></div>

  <!-- hero section start -->
  <div class="container px-4 mt-5  p-1 fw-bold fs-3 ">
    <a href="https://localhost/" class="row  rounded    site-link"> < Back To Search </a>
    <div class="row mt-5 ">
      <div class="col-2">

        <i class="fa fa-home  border border-1 rounded-4 border-black p-1 icon-pink " aria-hidden="true"></i> >

      </div>
      <div class="col-2 border border-1 rounded-4 "  >
          <p th:text="${category.title}" >Category</p>
      </div>

    </div>


    <div class="row mt-5 " th:text="${location!=null?location.name:category.title}">location title</div>

  </div>

    <div class="container   my-5 ">

      <div th:if="${posts.isEmpty}">
        <div class="h2 text-center text-danger">No posts Available &#128531;</div>
      </div>
  <div class="card my-4  " th:each="post : ${posts}"   >
    <div class="row g-0">
      <div class="col-md-4 col-sm-8 ">
        <img class="img-fluid d-lg-inline d-md-inline d-sm-block rounded-start rounded-4" th:src="@{/server/assets/img/sample.jpg}" th:alt="${post.title}" >
      </div>
      <div class="col-md-8 container pb-0">
        <div class="card-body mt-4 row" th:onclick=" location = [[${category.name}]] +'/'+[[${post.location.district}]]+'/'+ [[${post.name}]]; " >
          <h2 class="card-title fw-bold text-capitalize my-5 mb-5 text-pink fs-3" th:text="${post.title}" >Card title</h2>
          <p class="card-text mt-5" th:text="${post.description}" >
            This is a wider card with supporting text below as a natural lead-in 
            to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="px-2 row mt-5 pb-2  align-items-end">


          <div class="col-6 container  ">
            <div class="row  ">
              <small class="col-3 fw-bold text-capitalize" th:text="${post.age!=null?post.age+' years':'22 years'}" >age</small>
              <small class="col-1 fw-bold  ">|</small>
              <small class="col-3 fw-bold text-capitalize" th:text="${category.title!=null?category.title:'category'}" >category</small>
              <small class="col-1 fw-bold d-sm-none d-sm-inline d-lg-inline ">|</small>
              <small class="col-3 fw-bold text-capitalize" th:text="${location!=null?location.district: post.location !=null?post.location.district:'location'}" >location</small>
            </div>

          </div>
          <div class="col-6 container">
            <div class="row d-flex justify-content-around align-items-end  px-5">
              <p alt="contact link" class="col-1 px-auto  fs-3" th:onclick="location =  'tel:'+[[${post.contact}]];"><i class="fa fa-phone" aria-hidden="true"></i></p>
              <p alt="whatsapp link" class="col-1 px-auto  fs-3" th:onclick="location = 'https://api.whatsapp.com/send/?phone='+ [[${post.contact}]];" ><i class="fa fa-whatsapp" aria-hidden="true"></i></p>
              <p alt="telegram link" class="col-1 px-auto fs-3" th:onclick="location = 'https://t.me/'+[[${post.contact}]];" ><i class="fa fa-telegram" aria-hidden="true"></i></p>


            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
 
</div>
 


    <div th:replace="dashboard.html :: categoryDropdown"></div>


    <div th:replace="dashboard.html :: siteFooter"></div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <script th:src="@{/server/assets/scripts/main.js}"></script>
  <script th:src="@{/server/assets/scripts/common.js}"></script>
</body>

</html>