<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  
  <meta name="viewport"
        content="width=device-width,  user-scalable=no,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>InCallUp</title>
  <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no" />
  <meta name="description" content="Incallup Safe Dating site in India. Browse our categories for getting a sex meeting. Independent Call Girls, Verified Call Girl, Spa & Massage, Dating.  Incallup is an open Advertising Platform">
  <link rel="icon" type="image/png" href="https://localhost/server/assets/img/logo.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://localhost/server/assets/styles/style.css" />
  <link rel="stylesheet" href="https://localhost/server/assets/styles/reset.min.css" />
  <link rel="stylesheet" href="https://localhost/server/assets/styles/nav.css" />
  <link rel="stylesheet" href="https://localhost/server/assets/styles/header.css" />


<!--  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

</head>

<body >


  <div th:fragment="siteSearch" class="modal fade site-modal " tabindex="-1" id="myModal">
    <div class="modal-dialog pt-5">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fas fa fa-search mx-2 "></i>
            Search

          </h4>
          <button type="button" class="btn  " data-bs-dismiss="modal">

            <i class="fa fa-times" aria-hidden="true" ></i>
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body container">
          <div class="row">
            <div class="col">
              <select id="categories" hx-trigger="load" hx-get="https://localhost/app/get/categories/options" hx-swap="innerHTML" class="form-select  form-select-lg mb-3" aria-label="Large select example">
                <option selected>Choose Category</option>

              </select>

            </div>
            <div class="col" hx-trigger="load" hx-get="https://localhost/app/get/state/options" hx-target="#states" >
              <select name="state" id="states" hx-get="https://localhost/app/get/city/options" hx-target="#cities"  class="form-select  form-select-lg mb-3" aria-label="Select text">
                <option selected>Select State</option>

              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input id="searchText" placeholder="Search here" class=" form-control mb-3 text-danger" aria-label="Large select example">


            </div>
            <div class="col">
              <select id="cities" class="form-select mb-3 text-danger" aria-label="Large select example">
                <option selected>Select City</option>

              </select>
            </div>
          </div>


        </div>

        <!-- Modal footer -->
        <div class="container">
          <div class="row p-3 pt-0">
            <div class="col-6 text-center">
              <button style="border-radius: 0px 20px ;" type="button" class="btn sButton " data-bs-dismiss="modal">
                Close
              </button>
            </div>
              <div class="col-6 text-center  ">
                <button style="border-radius: 20px 0px ;" type="submit" onclick="search()"  class="btn sButton">

                  <i class="fas fa fa-search mx-2 "></i>

                  Search
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <header class="site-header bg-pink  border-top border-bottom blue-border-primary border-5" th:fragment="siteHeader" >



    <div class="wrapper site-header__wrapper">
      <nav class="nav">
        <a href="#" class="brand">
          <img onclick="location='https://localhost/'"  src="https://localhost/server/assets/img/logo.png" alt="incallup logo"
               style=" max-width:10rem; height:auto; "
          >
        </a>

        <ul class="nav__wrapper">
          <li class="nav__item"><a href="https://localhost/seller/post"><i class="fa fa-home mx-2 " aria-hidden="true"></i>  Home</a></li>
          <li class="nav__item"><a href="#"><i class="fa fa-location-arrow mx-2 " aria-hidden="true"></i>  Locate Me</a></li>
          <li class="nav__item"><a href="https://localhost/seller/profile"><i class="fa fa-user mx-2 " aria-hidden="true"></i>  Profile</a></li>
          <li class="nav__item"><a href="https://localhost/seller/post"><i class="fa fa-camera mx-2 " aria-hidden="true"></i>  Post AD</a></li>
          <li class="nav__item"><a href="https://localhost/login"><i class="fa fa-id-badge mx-2" aria-hidden="true"></i>  Login</a></li>
          <li class="nav__item"><a  href="https://localhost/register"><i class="fa fa-user-plus mx-2 " aria-hidden="true"></i>  Sign Up</a></li>
          <li class="nav__item"><a href="https://localhost/faq"><i class="fa fa-comment mx-2 " aria-hidden="true"></i>  FAQ</a></li>
          <li class="nav__item"><a href="https://localhost/privacy"><i class="fa fa-user-secret mx-2 " aria-hidden="true"></i>  Privacy Policy</a></li>
          <li class="nav__item"><a href="https://localhost/terms"><i class="fa fa-handshake mx-2 " aria-hidden="true"></i>  Terms & Condition</a></li>
          <li class="nav__item"><a href="https://localhost/contact"><i class="fa fa-phone mx-2 " aria-hidden="true"></i>  Contact Us</a></li>
          <li class="nav__item"><a href="https://localhost/blogs"><i class="fa fa-rss mx-2 " aria-hidden="true"></i>  Blogs</a></li>
        </ul>
      </nav>

      <button type="button"  class=" text-light btn blue-bg-desktop site-font1 py-1 px-3  fs-5 " aria-label="Search" data-bs-toggle="modal"
               data-bs-target="#myModal" >
        <i class="fas fa fa-search mx-2"></i>
        <p class="header-icon-text " >Search</p>
      </button>
      <button class="nav__toggle py-2 px-3  btn blue-bg-desktop text-light" title="menu"  aria-expanded="false" type="button">
        <i class="fas fa fa-bars" aria-hidden="true"  id="menu-one"></i>
        <i class="fa fa-times" aria-hidden="true" id="menu-two" style="display:none;"></i>
      </button>
    </div>

  </header>

  <!-- navbar start -->

  <!-- navbar end -->
  <!-- hero section start -->
  <div class="text-center container p-0 m-auto   " id="hero-section" style=" ">
    <div id="hero-bg">
      <div class=" ">
        <div class="text-pink px-lg-2  " id="hero-title">WELCOME TO INCALLUP</div>
        <span class="mt-2 text-wrap site-text" id="hero-subtext">Have a date in your city today , choose your category </span>
      </div>
      <div class="container " >
        <div class="row mt-lg-5 justify-content-center" >


          <div th:each="category : ${categories}" class="col-lg-3 col-md-6 col-sm-12 my-2 " th:onclick="location =[[${category.name}]];" >
            <img th:src="@{${'/server/assets/img/'+category.name+'.jpg'}}" class="card-img-top site-border  " th:alt="${category.title}">
            <div class="card-body blue-bg py-2 ">
              <div class="card-title h-3 text-light" th:text="${category.title}">Camera</div>
            </div>
          </div>
        </div >
      </div>

    </div >
  </div>

  <!-- hero section end -->
  <div th:fragment="categoryDropdown"  class="container my-2">
    <div class="site-title mt-3 row  ">
      <p class="text-center fs-1 lh-1">FIND ADS IN LOCAL : INDIA</p>
    </div>
    <div class="site-text  mt-1 mb-2 row">
      <p class="text-center fs-5 lh-1">Most Popular Location In A Specific Category</p>
    </div>



    <div id="categoryTemplate" th:replace="template-category.html :: siteCategory"></div>

    <div class="container my-3 px-2">
      <div th:text="${description}" style="text-align: justify;" class=" p-3 lg-base  fw-light bg-secondary-subtle ">


      </div>
    </div>
  </div>
  <footer th:fragment="siteFooter" class="container-fluid ">
    <div class="row " id="footer-pink">
      <div class="col-lg-4 col-md-4 col-sm-3  ">
        <img class="  h-lg-75 h-sm-25 h-md-25 mt-3  " style="    max-width: 10rem; height: auto; " src="https://localhost/server/assets/img/logo.png" alt="logo" >
      </div>
      <div class="col-lg-7  d-inline  col-md-6 col-sm container ">
        <div class="row  ">
          <p class="text-center pt-5 text-light header-icon-text" id="imp-link">Important Links</p>
        </div>
        <div class="row  blue-bg-desktop my-2 px-3 py-1 me-2 py-2 container d-flex  justify-content-around  ">
          <div class=" text-light col-2 header-icon-text row "><a class=" col  text-light " href="/faq">FAQ </a> <p class="col-1 d-sm-none d-lg-inline d-md-none " >|</p> </div>
          <div class=" text-light col-2 header-icon-text row "><a class=" col text-light " href="/privacy">Privacy Policy </a> <p class="col-1 d-sm-none  d-lg-inline d-md-none  " >|</p> </div>
          <div class=" text-light col-2 header-icon-text row "><a class=" col  text-light " href="/terms">Terms & Condition </a> <p class="col-1 d-sm-none d-lg-inline d-md-none " >|</p> </div>
          <div class=" text-light col-2 header-icon-text row "><a class=" col text-light " href="/contact">Contact Us </a> <p class="col-1 d-sm-none  d-lg-inline d-md-none " >|</p> </div>
          <div class=" text-light col-2 header-icon-text row "><a class=" col  text-light " href="/blogs">Blogs </a> <p class="col-1 d-sm-none d-lg-inline d-md-none " >|</p> </div>



        </div>
      </div>
    </div>
    <div class="row blue-bg p-4 text-light site-font ">
      <p class="text-center">Copyright © 2023 Incallup. All right reserved.</p>
    </div>
  </footer>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <script th:src="@{/server/assets/scripts/main.js}"></script>
  <script th:src="@{/server/assets/scripts/common.js}"></script>



</body>

</html>