<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <link rel="icon" type="image/png" href="/server/assets/img/logo.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/server/assets/styles/style.css}">
  <link rel="stylesheet" th:href="@{/server/assets/styles/nav.css}" />
  <link rel="stylesheet" th:href="@{/server/assets/styles/header.css}" />

  <title >Details Page</title>
  <script type="text/javascript"  async defer src="https://maps.googleapis.com/maps/api/js?loading=async"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body >

<div th:replace="dashboard.html :: siteSearch"></div>
<div th:replace="dashboard.html :: siteHeader"></div>

<!-- hero section start -->
<div class="container">
  <a href="dashboard.html" class="row p-1 rounded  mx-5 fs-3 site-link"> <b>&lt; Back To Search</b></a>
  <div class="row"><img th:src="@{/server/assets/icons/home-icon.png}" alt="home icon" class="my-icon border border-1 border-black " style="width: auto;"></div>

</div>

<div class="container px-4 px-lg-5 my-5">
  <h4>Date</h4>
  <h2 class="row px-3 text-start">
    Title
  </h2>
  <h3>location | views | post ID </h3>
  <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top rounded-4 mt-5 mb-5 mb-md-0" src="https://localhost/server/assets/img/sample.jpg" alt="..."></div>
      <div class="col-md-6">
          
          <h1 class="display-5 fw-bolder"><img src="https://localhost/server/assets/img/call.png" alt="" srcset=""> Call</h1>
          <h1 class="display-5 fw-bolder"><img src="https://localhost/server/assets/img/whatsapp.png" alt="" srcset=""> Whatsapp</h1>
          <h1 class="display-5 fw-bolder"><img src="https://localhost/server/assets/img/telegram.png" alt="" srcset=""> Telegram</h1>
         
         
      </div>
  </div>
  <div class="row mt-5">
    category description
  </div>
  <h3 class="row mt-5">Profile</h3>

  <hr class="row mt-5">
  <h1 class="row mt-5 "><div class="col text-center  ">ALL ADS IN CAMERA</div></h1>
  <h3 class="row mt-5 "><div class="col text-center  ">In Incallup</div></h3>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <script th:src="@{/server/assets/scripts/main.js}"></script>
  <script th:src="@{/server/assets/scripts/common.js}"></script>
</body>

</html>