<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/server/assets/img/logo.png}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title >Login Page</title>
    <link rel="stylesheet" href="https://localhost/server/assets/styles/reset.min.css" />
    <link rel="stylesheet" href="https://localhost/server/assets/styles/nav.css" />
    <link rel="stylesheet" href="https://localhost/server/assets/styles/header.css" />

    <link rel="stylesheet" href="https://localhost/server/assets/styles/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body >

<div th:replace="dashboard.html :: siteSearch"></div>
<div th:replace="dashboard.html :: siteHeader"></div>


<div class="border border-3 px-0 py-5 mt-5">




<div th:if="${login!=null}">
    <div th:text="login" class="text-center">
    </div>
</div>

<h1 class="text-center my-5 site-text ">Get Into <img src="https://localhost/server/assets/img/logo.png" alt="site-logo"></h1>

<form class="container " method="post" action="https://localhost/seller/auth/login">
    <div class="mb-4 row justify-content-center " >

    <input  class="form-control-lg col-6 col-md-8 col-sm-8 rounded-5" type="text" name="username" id="email" placeholder="Username">
    </div>
    <div class="mb-4 row justify-content-center">

    <input class="form-control-lg col-6 col-md-8 col-sm-8 rounded-5 " type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="mb-4 row  justify-content-center ">

    <button type="submit" class="btn bg-pink col-6 text-light btn-lg rounded-5 ">Submit</button>
    </div>
</form>

<!--<div class="text-center text-primary" hx-get="https://localhost/seller/forgot">Forgot Password</div>-->
<div class="text-center">Don’t Have An Account Yet?
    <a  class="text-pink" href="https://localhost/auth/create" >Sign Up</a></div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>
<script th:src="@{/server/assets/scripts/main.js}"></script>
<script th:src="@{/server/assets/scripts/common.js}"></script>
</body>

</html>