<div th:each=" category : ${categories}" class="d-grid px-4 mt-2 py-2 category-text bg-secondary-subtle rounded-2 row ">
    <div class=" site-font container-fluid text-center" type="button">
        <div class="row justify-content-between">
            <div class="col-1" th:text="${category.title}">Camera</div> <button type="reset"
                                                    class="bg-secondary-subtle btn btn-outline-secondary col-1  fw-bold" onclick="showCategory(this);"
        > &#11166; </button>
        </div>
    </div>
    <div class="h-1  container-fluid category-text-bar" >
        <hr>
        <div class="row py-2">
            <div class="col-md-6">
                Category text
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil autem neque eum, aspernatur ea blanditiis
                consequatur accusamus fugiat in dolor
            </div>
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="table-responsive bg-secondary-subtle">
                        <table class="table location-table ">
                            <tbody>
                            <tr class="">
                                <td ><a th:href="${'/'+category.name+'/thane'}">Thane</a></td>
                                <td><a th:href="${'/'+category.name+'/pune'}">Pune</a></td>
                                <td><a th:href="${'/'+category.name+'/central-delhi'}">Central Delhi</a></td>
                            </tr>
                            <tr>
                                <td><a th:href="${'/'+category.name+'/hyderabad'}">Hyderabad</a></td>
                                <td><a th:href="${'/'+category.name+'/kolkata'}">Kolkata</a></td>
                                <td><a th:href="${'/'+category.name+'/east-delhi'}">East Delhi</a></td>
                            </tr>
                            <tr>
                                <td><a th:href="${'/'+category.name+'/bhopal'}" >Bhopal</a></td>
                                <td><a th:href="${'/'+category.name+'/south-delhi'}">South Delhi</a></td>
                                <td><a th:href="${'/'+category.name+'/khorda'}">Khordha</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var defaultRules = document.getElementsByClassName('category-text-bar');
  for (const iterator1 of defaultRules) {
      iterator1.style.display = 'none';
  }

</script>