<div th:each=" category : ${categories}" class="d-grid  mt-2 bg-light category-text  row ">
    <div class="btn btn-secondary site-font container-fluid text-center" type="button">
        <div class="row justify-content-between">
            <div class="col-1" th:text="${category.name}">Camera</div> <button type="reset"
                                                    class="btn btn-secondary col-1 btn-outline-secondary fw-bold" onclick="showCategory(this);"
        >></button>
        </div>
    </div>
    <div class="h-1  container-fluid category-text-bar" >
        <div class="row py-2">
            <div class="col-md-6">
                Category text
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil autem neque eum, aspernatur ea blanditiis
                consequatur accusamus fugiat in dolor
            </div>
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table location-table ">
                            <tbody>
                            <tr class="">
                                <td ><a href="#">Thane</a></td>
                                <td><a href="#">Pune</a></td>
                                <td><a href="#">Central Delhi</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Hyderabad</a></td>
                                <td><a href="#">Kolkata</a></td>
                                <td><a href="#">East Delhi</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Bhopal</a></td>
                                <td><a href="#">South Delhi</a></td>
                                <td><a href="#">Khordha</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var defaultRules = document.getElementsByClassName('category-text-bar');
  for (const iterator1 of defaultRules) {
      iterator1.style.display = 'none';
  }

</script>