/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  position: relative;
   }

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 

}

.nav__wrapper {
  position: fixed;
  top: 72px;
  left: 0;
  width: Max(220px, 20%);
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  background-color: #103652;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  display: block; }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }

.nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .nav__item a {
    display: block;
    padding: 1rem;
    color: white;
    }

    .btn-tog {
      --bs-btn-padding-y: 0.2rem;
      --bs-btn-padding-x: 0.3rem;
    }

    .dropdown-item1 {
      padding: 0.5rem 1rem;
      color: #333; /* Text color */
    }
    
    .dropdown-item1:hover,
    .dropdown-item1:focus {
      background-color: #f0f0f0; /* Hover background color */
    }
    
    .dropdown-menu1 {
      border: none; /* Remove border */
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    }

/* Category List transition */
.transition-target {
  transition: opacity 5s ease-in-out;
}

.fade-in {
  opacity: 100; /* initial opacity */
}

.fade-in.loaded {
  opacity: 1; /* final opacity */
}

/* Dashboard CSS */
/* Desclaimer CSS */
.responsive-text {
  padding: 1rem; /* default padding */
  margin-top: 1rem; /* default margin-top */
  font-size: 1rem; /* default font size */
  font-weight: 300; /* light font weight */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .responsive-text {
      font-size: 0.9rem; /* slightly smaller font on tablets */
      padding: 0.8rem; /* reduce padding on tablets */
  }
}

@media (max-width: 576px) {
  .responsive-text {
      font-size: 0.8rem; /* even smaller font on mobile */
      padding: 0.6rem; /* reduce padding on mobile */
  }
}

 



/* Category Code CSS  */

.btn-circle {
  width:41px ; 
  height: 41px; 
  margin: 0 5 px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 50% ;
  transition: all 0.3s;
  display: inline-block; /* Ensures smooth scaling */
  padding:0.5rem;
  
}

.btn-circle:hover{
  transform: scale(0.9);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.btn-circle2 {
  width: 41px;
  height: 41px;
  margin: 0 5 px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: all 0.3s;
  display: inline-block;
  padding: 0.5rem;
   
}

.btn-circle2:hover{
  transform: scale(0.9);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.phoneBtn{
 
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
 transition: all 0.3s;
 padding:0.4rem;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 display: inline-block; /* Ensures smooth scaling */
}
.phoneBtn:hover {
    transform: scale(0.9);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .card-container {
    flex-direction: column;
  }
  .card img {
    /* width: 100%; */
  }
}

@media (max-width: 575.98px) {
  .card-title {
    font-size: 1.02rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

@media (max-width: 1200.98px) {
  .card-title {
    
    font-size: 1rem;
    font-size: 14px;
    letter-spacing: -.1px;
    margin-top: 0;
    word-break: break-word;
    word-spacing: 0;
    word-wrap: break-word;
    display: -webkit-box !important;
    overflow: hidden;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    max-height: none;
    text-overflow: ellipsis !important;
  }

  .card-text {
    font-size: 1rem;
  }
}

.badge-pill {
  background-color: #f7f7f7;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #4f566a;
  font-size: .78rem;
  padding: 3px 7px;
  word-wrap: break-word;
  display: inline-block;
  font-weight: 400;
  letter-spacing: -.1px;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 24px;
}

.item-card{
   
    border-radius: .7rem;
    box-shadow: 0 .125rem 1.25rem 0 rgba(107, 134, 177, .15);
    overflow: hidden;
 
}
.bordertop {
  height: fit-content !important;
  min-height: fit-content !important;
}
.bordertop {
  border: .1px solid #307abb6e;
}

*, :after, :before {
    box-sizing: border-box;
}


.description-container {
  max-height: calc(1.5em * 3); /* Allow for 3 lines of text */
  overflow: auto;
  position: relative;
}

.description-container::after {
  content: '...';  
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 2px; /* Add a bit of padding between text and ellipsis */
  background-color: white; /* Ensure ellipsis doesn't overlap with text */
}

/* phone and age */
 /* For desktop screens */
 /* For desktop screens */
@media (min-width: 300px) {
  .text-mobile {
      font-size: smaller;
  }
}

/* For mobile screens */
@media (max-width: 992px) {
  .text-desktop {
      font-size: smaller;
  }
}


/* Footer CSS */
@media (min-width:300px){
  .nav-links{
    font-size: small;
  }
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px; /* adjust height as needed */
  margin-top: 1rem;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding-right: 2px;
  display: flex;
  flex-wrap: wrap;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.footer-color{
  background-color: #FF0061;
}



/* Media Queries for Mobile Responsiveness */

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-top: 2rem;
  }
  .footer-nav {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.ad-text{
  font-size: medium;
}

@media (max-width:1000px){
    .ad-text{
      font-size: small;
    }
}


/* Post CSS */

.dropdown {
  opacity: 0;
  transition: opacity 0.9s; /* adjust the duration to your liking */
}

.fade-in {
  opacity: 1;
}

.transition-target {
  transition: opacity 0.9s; /* adjust the duration to your liking */
}