
body {
  
    overflow-x: hidden; 
    padding: 0.5 px;
    max-width:100%;
    width : 100vw;


    }

:root {
    --blue: #103652;
    --pink : #BE206B;
    --font:  Rubik;
    --grey: #E3E3E3;
    --light-pink: #FF0061;
    --post: #C1B0B0;
    

  }
  /*
  *{
    cursor: url('../icons/cursor.png') 2 5,pointer;
  }
  */
* {
  box-sizing: border-box;
}
.post-icon{
    height: 1.5rem;
    margin-left: 2%;
}

.grey-bg{

    background-color: var(--grey);
}

    .site-font1{
      
        
        font-family: Rubik;
        font-size: 27px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        

    }






.text-light-pink{
    color: var(--light-pink);
}
.site-font{
   
    font-family: Rubik;
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    
}
.btn-secondary{
    background: var(--grey);
    color: black;

}
.btn-outline-secondary{
    border-color: var(--grey);
    
}
a{
    text-decoration: none;
    color: black;
}
.site-title{
font-family: Rubik;
font-size: 48px;
font-weight: 900;
line-height: 62px;
letter-spacing: 0em;
}
.blue-bg{
    background-color: var(--blue);
   
}

.text-pink{
    color: var(--pink);
}
button.btn:hover{
    background-color: var(--blue);
}
#hero-title{
    
font-family: Rubik;
font-size: 64px;
font-weight: 700;
line-height: 83px;
letter-spacing: 0em;


}
.site-border{
  
    border: 0.2rem solid var(--pink);
    border-bottom-width: 0.3rem;
   
}
#imp-link{
    font-size: 36px;
    font-weight: 700;
    line-height: 83px;
}
#hero-bg{
    height: 100%;
    width: 100%;
    background-color: #ffffffb6;
    background-size: cover;
    padding-bottom: 3%;
}

.site-text{
font-family: Rubik;
font-size: 36px;
font-weight: 500;
line-height: 61px;
letter-spacing: 0em;
}
#hero-section{


    
}
#footer-pink , .bg-pink{
    background-color: var(--pink);
}

td>a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.bg-pink{
    background-color: var(--pink);
  }

  #copyright{
        text-align: center;
  }

  .category-text{
    border: 2px solid black;
    border-radius: 10px;
  }


  .sButton{
    background-color: var(--pink);
    color: var(--grey);
    width: 150px;
  }
  .sButton:hover{
    color: var(--grey);
  }

  #myModal{
  position:absolute;
  top: 50%;
  }




  .post>div>input , .post>div>select , .post>div>textarea ,.site-input{
    background-color: var(--post);
  
  }
  .post{
   
    margin: auto 20%;
    padding: 1%;
  }





  .plus-icon {
    font-size: 50px; 
    /* Adjust font size as needed */
    color: var(--blue); /* Change icon color */
    /* background-color: var(--post); */
     /* Change icon background color */
   
    
    /* Adjust padding to fit icon size */
  }

  .input-row{
    margin-bottom: 0.2rem;
    label{
        border: 3px solid var(--blue);
        border-right: 0.12rem!important;
        margin-right: 0rem !important;
    }
  }

#header-logo{


  width: 100%!important;
  max-width: 400px!important;
  height: auto!important;

}
/*
@media only screen and (max-width: 600px) {
  #header-logo {
    height: 10px;

  }
}
*/